<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="StudentTracker"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.StudentTracker">

        <activity android:name=".ViewProgressActivity" />
        <activity android:name=".auth.StudentDetailsActivity" />
        <activity android:name=".students.AddStudentActivity" />
        <activity android:name=".students.StudentListActivity" />
        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".auth.RegisterActivity" />

        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
